<div class="container">
        <div class="row">
            <div class="column">
                <div class="post-preview">
                    <a href="#/aboutme">

                        <h3 class="post-subtitle">
                          Hello! My name is Nick Major. I am 25 years old.
                        I am working to become a MEAN-stack web developer, currently learning at
                        DevMountain, in Provo. I enjoy finding new ways to solve problems, and creating
                        professional websites. I also am looking to expand my skillset into as many
                        languages as possible. As I have time I plan on creating and uploading more games
                        based in Three.js, using WebGl, and other ways I come across to build games.
                        I hope you enjoy playing!
                      </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="">Nick Major</a> on July 5, 2016</p>
                </div>
                <hr>
