<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="overloard">
  <div class="container">
          <div class="row">
              <div class="column">
                  <div class="post-preview">
                    <div class='signup-container'>
                              <h3 id="scoreBoard"></h3>
                              <div id="container"></div>
                    </div>
                  </div>
             </div>
        </div>
    </div>
  </div>
    <script src="../js/script.js"></script>
  </body>

</html>
