<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Time Slayer</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/css/clean-blog.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle nav</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/#/">Time Slayer</a>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="#/settings">Games To Play</a>
                    </li>
                    <li>
                        <a href="#/progress">Progress</a>
                    </li>
                    <li>
                        <a href="/#/smackboard">SmackBoard</a>
                    </li>
                    <li>
                        <a href="#/signup">Sign Up</a>
                    </li>
                    <li>
                        <a href="#/login">Log In</a>
                    </li>
                    <li>
                        <a href="#/aboutme">About Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="intro-header" style="background-image: url('img/home-bg.png')">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="site-heading">
                        <h1>Time Slayer</h1>
                        <hr class="small">
                        <span class="subheading">
                          A place to play web-based games</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="js/contact_me.js"></script>
</body>
