<div class="container">
        <div class="row">
            <div class="column">
                <div class="post-preview">
                  <div class='signup-container'>
                      <div class="column">
                          <div class="name">
                            <p5><input type="text" class="accName" ng-model="user.accName" placeholder="Account Name"></p>
                            <p6><input type="password" class="password" ng-model="user.password"  placeholder="Password"></p>
                            <a href="#/settings"><button class="submit" type="submit" ng-click="loginUser(user)" class="btn btn-default">Log In</button></a>
                          </div>
                      </div>
                  </div>
                </div>
           </div>
      </div>
  </div>
