<div class="container">
        <div class="row">
            <div class="column">
                <div class="post-preview">
                    <a href="#/gametime">
                        <h2 class="post-title">
                          Lava Wash
                        </h2>
                        <h3 class="post-subtitle">
                          Use left and right arrow keys to move, space-bar to jump.
                          Lava Wash is A 3-D Side scrolling game, avoid the enemy, find the key, and get to the door
                          before the Lava rises up and gets you. background objects and backdrop built
                          with a three.js using WebGl renderer(if compatible). Character models built with Blender
                          for the character model creation. Only a few levels made so far, but more to come.  Although, all
                          updated browsers *Should* be compatible. Sign up to track how your doing against other
                          people who have played!
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#/aboutme">Nick Major</a> on July 4, 2016</p>
                </div>
                <div class="post-preview">
                    <a href="#/ponggame">
                        <h2 class="post-title">
                          3-D Pong
                        </h2>
                        <h3 class="post-subtitle">
                          Use "A" to move left, "D" to move right and play pong!  first to 7 wins.  A simple
                          pong game built to learn Three.js, create Three dimensional backgrounds, and play with
                          animations. See if you can beat the bot!
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#/aboutme">Nick Major</a> on July 5, 2016</p>
                </div>
                <div class="post-preview">
                    <a href="#/arc">
                        <h2 class="post-title">
                          3-D Pong arc animated
                        </h2>
                        <h3 class="post-subtitle">
                          Use the mouse to move the paddle, and play pong! built to impliment arcing movements
                          for the ball to travel, and practice with barrier points.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#/aboutme">Nick Major</a> on July 7, 2016</p>
                </div>
                <hr>
                <div class="post-preview">
                  <a>
                        <h2 class="post-title">
                              Through the Glass
                        </h2>
                        <h3 class="post-subtitle">
                          An immersive 3-D platforming game.  Find your guide, avoid the lasers, remove
                          the threats, and find the door to advance. New items appear often through the
                          levels, more diverse enemies, and creative ways to destroy them.  explore to
                          figure out different ways to solve the puzzels and advance! built with three.js
                          and WebGl. built for practice using 3-D framework through the browser using the
                          GPU to render the graphics in order to produce better graphics through the browser.
                        </h3>
                    <p class="post-meta">Posted by <a href="#/aboutme">Nick Major</a> TBD</p>
                  </a>
                </div>
                <hr>
                <hr>
                <ul class="pager">
                    <li class="next">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
