<div class='signup-container'>
    <div class="column">
        <div class="name">
            <p5>First Name:<input type="text" class="first" ng-model="user.name"></p>
            <p1>Last Name:<input type="text" class="last" ng-model="user.surname"></p>
            <p3>E-mail:<input type="text" class="e-mail" ng-model="user.email"></p>
            <p2>Account Name:<input type="text" class="accName" ng-model="user.accName"></p>
            <p4>Password:<input type="text" class="password" ng-model="user.password"></p>
            <button class="submit" type="submit" ng-click="newUser(user)" class="btn btn-default">Sign up</button>
        </div>

    </div>
</div>
