<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="#/settings">
                        <h2 class="post-title">
                          Lava Wash
                        </h2>
                        <h3 class="post-subtitle">
                          A 3-D Side scrolling game.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#/aboutme">Nick Major</a> on July 4, 2016</p>
                </div>
                <div class="post-preview">
                    <a href="#/settings">
                        <h2 class="post-title">
                          Pong
                        </h2>
                        <h3 class="post-subtitle">
                          A 3-D Pong Game, with paddle animations.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#/aboutme">Nick Major</a> on July 5, 2016</p>
                </div>
                <div class="post-preview">
                    <a href="#/settings">
                        <h2 class="post-title">
                          Pong arc
                        </h2>
                        <h3 class="post-subtitle">
                          A 3-D Pong Game, with arcing ball animation.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#/aboutme">Nick Major</a> on July 7, 2016</p>
                </div>
                <hr>
                  <a href="#/settings">
                <div class="post-preview">
                        <h2 class="post-title">
                          Through the Glass
                        </h2>
                        <h3 class="post-subtitle">
                          An immersive 3-D platforming game.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#/aboutme">Nick Major </a> TBD</p>
                </div>
                <hr>

                <hr>
              
                <ul class="pager">
                    <li class="next">
                        <a href="#/">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
