
<div class="container">
        <div class="row">
            <div class="column">
                <div class="post-preview">
                  <div class='signup-container'>
                      <div class="column">
                          <div class="name">
                              <p5><input type="text" class="first" ng-model="user.name" placeholder="First Name"></p>
                              <p1><input type="text" class="last" ng-model="user.surname" placeholder="Last Name"></p>
                              <p3><input type="text" class="e-mail" ng-model="user.email" placeholder="E-mail"></p>
                              <p2><input type="text" class="accName" ng-model="user.accName" placeholder="Account Name"></p>
                              <p4><input type="password" class="password" ng-model="user.password" placeholder="Password"></p>
                              <a href="#/settings"><button class="submit" type="submit" ng-click="newUser(user)" class="btn btn-default">Sign up</button></a>
                          </div>

                      </div>
                  </div>
                </div>
           </div>
      </div>
  </div>
